@{
    ViewData["Title"] = "Naslovnica";
}

<div class="text-center">
    <h1 class="display-4"><b>Dobro došli na aplikaciju za</b></h1>
    <h1 style="color: #6E33A2; font-size: 4rem;"><b>MOBITELE</b></h1><br />
    <img src="~/slike/background-slika.jpg" width="950" height="500"/>
</div>
