@{
    ViewData["Title"] = "O nama";
}
<h1>@ViewData["Title"]</h1>

<h3>Aplikaciju za mobitele izradila:</h3>
<ul>
    <li>Zrinka Konopek</li>
    <li>3. godina preddiplomskog sveučilišnog studija</li>
    <li>Poslovna informatika</li>
    <li>2023.</li>
</ul>
